!!!5

%html{:lang => "en"}

  %head
    %meta{:charset => "UTF-8"}/
    %title ab gride
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width", :name => "viewport"}/
    %link{:href => "css/demo.css", :rel => "stylesheet"}/
    
  %body
    #main_container
      .grid_abc
        .column          
          = lorem_paragraphs 2 
        .column
          = lorem_paragraphs 2 
        .column
          = lorem_paragraphs 2 
      //could with line
      .grid_abc.with_line
        .column
          %h1
            = lorem_sentences 2 
        .column
          = lorem_paragraphs 2 
        .column
          = lorem_paragraphs 2
      .grid_aab
        .column 

          = lorem_paragraphs 4
           
        .column 
          %h1
            = lorem_sentences 1 
      
      .grid_wxyz.with_line
        .column 
          = lorem_paragraphs 1
        .column 
          = lorem_paragraphs 1
        .column 
          = lorem_paragraphs 1
        .column 
          = lorem_paragraphs 1
      // with nesting
      .grid_aaab.with_line
        .column 
          .grid_abcd
            .column
              = lorem_sentences 2
            .column
              = lorem_sentences 2
            .column
              = lorem_sentences 2
            .column
              = lorem_sentences 2

        .column 
          %h3
            = lorem_sentences 1
      // with padding and line
      .grid_xyz.with_line
        .column
          = lorem_sentences 2
        .column
          %h1
            = lorem_sentences 1
        .column
          = lorem_sentences 2
      // with ratio 5:4 column
      .grid_aaaaabbbb
        .column
          = lorem_paragraphs 1
        .column
          = lorem_paragraphs 1










    



	
